/*for header*/
.box{
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
.font{
  font-family: impact;
  font-size: 50px;
}
.font2{
  font-family: monospace;
  font-size: 30px;
}
.font3{
  font-family: monospace;
}
/*for header*/
.bg-white{
  padding-top: 20px;
  height: 450px;
  background-color: white;
}
.bgwhite{
  background-color: white;
}
.table tr th{
  text-align: center;
}
.box-table{
  position: relative;
  overflow: auto;
}
.pad{
  padding: 0px 30px 0px 30px;
}
.margin{
  margin: 10px auto;
}
.margin table{
  margin: 0px auto;
}
.padvertical{
  padding: 30px 0px 30px 0px;
}
.padside{
  padding-left: 50px;
  padding-right: 50px;
}
.paddings{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.tables td{
  text-align: left;
}
